page-login {
  #loginContent{
    background-color: #0084b4;
  }
  
  .loginButton{
    background-color: mediumseagreen;
  }
  
  #break{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 8px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: orangered; 
  }
}

