page-teacherlist {
  #teacherList{
    background-color: #0084b4;
  }

  .detailButton{
    background-color: mediumseagreen;
    float: right;
  }

  .profileDataTitle{
    font-size: 120%;
    display: inline-block;
    overflow:hidden;
    height: auto;
    margin-bottom: 2px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 3px;  
  }

  .profileDataDescr{
    font-size: 100%;
    display: inline-block;
    overflow:hidden;
    height: auto;
    padding-top: 3px;
    padding-left: 3px;
  }

  .card{
    border-radius: 3px;
  }

  .searchLabel{
    color: #0084b4;
  }

  .searchButton{
    background-color: orange;
  }

  .searchItem{
    background-color: #0084b4;
  }

  .searchBar{
    background-color: white;
    border-radius: 5px;
  }

}












  